{% extends "base.html" %}
{% block body %}
<div class="p-3 container-lg my-3">
  <button type="button" class="btn btn-primary" style="float:right"><a href="/addblog" style="color:white;text-decoration:none">+ Create</a></button>
</div>

    <div class="container-lg">
    <table class="table my-5">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Words</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
        {% for x in bl %}
        <tr>
          <th>{{forloop.counter}}</th>
          <td><a href="/readblog">{{x.title}}</a></td>
          <td>{{x.words}}</td>
          <td>{{x.date_created}}</td>
          <td>{{x.date_updated}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock body %}