{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="p-3 col-12  my-3">
          <a href="{% url 'add_blog' %}" class="custom-button"><button type="button" class="btn btn-primary">+ Create</button></a>
          </div>
      <div class="col-12">
        <div class="table-responsive">
          <table class="table my-3">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Words</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for x in blog_list %}
              <tr>
                <th scope="row" class="py-3">{{forloop.counter}}</th>
                <td class="py-3"><a href="{% url 'view_blog' x.id %}">{{x.title}}</a></td>
                <td class="py-3">{{x.words}}</td>
                <td class="py-3">{{x.date_created}}</td>
                <td class="py-3">{{x.date_updated}}</td>
                <td class="py-3"><a href="{% url 'update_blog' x.id %}" class="px-3"><i class="fa fa-pencil fs-3"></i></a>
                  <a href="{% url 'delete_blog' x.id %}"><i class="fa fa-trash fs-3 text-danger"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}