{% extends "authentication.html" %}
{% block body %}
<div class="container box">
    <h2 class="text-center mb-4">Login</h2>
    <script>
    {% if message %}
        alert("Please enter valid username & password!");
    {% endif %}
    </script>
    <form method="POST" action="/login">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <div class="text-center mt-3">
        <p>Not registered yet? <a href="/signup">Register here</a></p>
    </div>
</div>
{% endblock body %}

