{% extends "base.html" %}
{% block body %}

<div class="container py-4">
<p><strong>{{bl.title}}</strong></p>
<p style="text-align:justify">{{bl.desc}}</p>
<div class="row">
    <div class="col-lg-1 col-md-2 col-4 py-2">
<a href="/update/{{bl.id}}"><button type="button" class="btn btn-primary">Update</button></a>
    </div>
    <div class="col-lg-1 col-md-2 col-4 py-2">
        <a href="" id="deleteLink" onclick="confirmDelete('{{bl.id}}')"><button type="button" class="btn btn-danger">Delete</button></a>
    </div>    
</div>
</div>

<script>
    function confirmDelete(itemId) {
        if (confirm("Are you sure you want to delete this item?")) {
            document.getElementById("deleteLink").setAttribute("href", "/delete/" + itemId);
        } else {
            // Do nothing
        }
    }
</script>

{% endblock body %}