footer {
    background-color: #343a40; /* Dark background color */
    color: #fff; /* White text color */
    padding: 20px 0; /* Padding top and bottom */
    text-align: center;
    position: fixed; /* Fixed position at the bottom */
    width: 100%; /* Full width */
    bottom: 0; /* Position at the bottom */
  }
  footer p {
    margin-bottom: 0; /* Remove bottom margin for the paragraph */
  }