body {
    background-image: url('images/blog1.jpg');
      background-size: cover;
      background-position: center;
      height: 100%;
      margin: 0;
      background-repeat: no-repeat;
    /* background: url("images/blogbg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x:hidden; */
}
.container {
    max-width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box{
    height:auto;
    width:auto;
    background-color:white;
    padding:20px;
    border-radius:10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
